.new-input {
    width: 100%;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .news-input {
        max-width: 50%;
    }
}

@media (min-width: 992px) and (max-width: 1300px) {
    .news-input {
        max-width: 65%;
    }
}